<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="style.css">
    <title>Shirt Store</title>
</head>
<header>   
    <nav class="navbar">
        <a href="#" class="logo">
            <img src="picture/logo.jpg" alt="logo">
            <h3>SHIRTSTORE</h3>     
        </a>

        <div class="Nametext">
            <h2>SHIRTSTORE BY MART LAEMBANG .COM</h2>
        </div> 
        
    </nav>
        <button class="btnLogin-popup">Login</button>
</header>

<body>
    <div class="form-box">
    <div class="button-box">
        <div id="btn"></div>
        <button type="button" class="toggle-btn" onclick="login()">Login</button>
        <button type="button" class="toggle-btn" onclick="register()">Register</button>
    </div>

    <form id="login" class="input-group">
        <h5 class="text-email" >Email Address</h5>
        <h5 class="text-password" >Password</h5>
        <input type="text" class="input-field" placeholder="Email Address">
        <input type="password" class="input-field" placeholder="Password">
        <button type="submit" class="submit-btn">Login</button>
    </form>

    <form id="register" class="input-group">
        <h5 class="text-email" >Email Address</h5>
        <h5 class="text-password" >Password</h5>
        <input type="text" class="input-field" placeholder="Email Address">
        <input type="password" class="input-field" placeholder="Password">
        <button type="submit" class="submit-btn">Register</button>
    </form>

    </div>
</div>

<!-- เชื่อมกับไฟล์ JavaScript -->
<script src="Loginpage.js"></script>

</body>
</html>
