<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shirt store</title>
    <link rel="stylesheet" href="Home.css">
</head>
<!-- ---------------พวกเเถบด้านบน----------------- -->
<header>

    <nav class="navbar">
        <a href="Home.html" class="logo">
            <img src="picture/logo.png" alt="">
            <h3>SHIRTSTORE</h3>     
        </a>

        <div class="Nametext">
            <h2>SHIRTSTORE BY MART LAEMBANG .COM</h2>
        </div>    
    </nav>
    <button class="btnLogin-popup">Login</button>
    
    
</header>
     <!-- ------------------------------------------ -->
    <!-- ---------------รูป 4คน ------------------------>
<body>

        <section class="banner">
            <div class="promo">
                <img src="picture/promo.png" alt="">
            </div>
            <div class="banner-info">
                <a href="" class="banerteam">
                    <img src="picture/rs.png" alt="">
                </a> 
                <a href="" class="banerteam">
                    <img src="Picture/kdb.png" alt="">
                </a> 
                <a href="" class="banerteam">
                    <img src="picture/nn.png" alt="">
                </a> 
                <a href="" class="banerteam">
                    <img src="picture/mt.png" alt="">
                </a>     
            </div>
        </section>       
</body>
<!-- --------------------------------------------- -->
<!-- -----------ส่วนข้อความด้านล่าง ----------------------->
<footer>
    <div class="wordfooter-info">  
        <h1>BECOME  PART  OF  THE  TEAM  YOU  LOVE</h1>
    </div>
</footer>
<!-- -------------------------------------------------- -->

</html>
