* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
  .banner-info {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 651px;
      margin-top: 0.15%;
  }
  
  .item {
      flex: 1;
      height: 100%;
  }
  
  
    .item:nth-child(1) {
      background-image: url(./Picture/promo.png);
    }
    .item:nth-child(2) {
      background-image: url(./Picture/rs.png);
    }
    .item:nth-child(3) {
      background-image: url(./Picture/kdb.png);
    }
    .item:nth-child(4) {
      background-image: url(./Picture/nn.png);
    }
    .item:nth-child(5) {
      background-image: url(./Picture/mt.png);
    }
  
  
    .item {
        background-position: center;
        background-size: cover;
        transition: flex 0.8s ease;
    }
  
    .item:hover {
        flex: 2;
    }
    /* djvuo */