@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100%;
    padding: 8px 14px;
    background: rgb(255, 255, 255);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo img{
    width: 40px;
    margin-right: auto;
}

.navbar .logo  {
    display: flex;
    gap: 10px;
    align-items: center;
    text-decoration: none;
}

.navbar .logo h3{
    font-size: 15px;
    font-weight: 600;
    color: black;
    margin-right: 350px;
}
.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    overflow: hidden;
}

.btnLogin-popup {
    background-color: black;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
}

#black_line {
    width: 1600px;
    height: 2px;
    background-color: black;
}

body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.ManU {
    width: 110px;
    height: 100px;
    position: center;
}

.image h1{
    font-size: 30px;
    font-weight: 600;
}

.image h2{
    font-size: 15px;
    font-weight: 600;
}

.S1 {
    width: 220px;
    height: 290px;
}

.cloths {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 1%;
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 4px;
}

.jersey {
    flex: 1 1 25%;
    padding: 12px 80px;
    box-sizing: border-box;
    font-size: 15px;
    font-weight: 600;
}


.cloths a{
    text-decoration: none;
    color: black;
}

.cloths p{
    color: rgb(155, 155, 155);
    font-size: 10px;
}

.jersey img {
    max-width: 100%;
    height: auto;
}

footer{
    overflow: hidden;
}

.tail_box {
    width: 1600px;
    height: 60px;
    background-color: rgb(229, 229, 229);
    border: none;
}
<<<<<<< HEAD

.Back_button{
    padding: 1px;
    border: none;
    stroke: transparent;
    cursor: pointer;
    margin: 1.5%;
    background-color: transparent;
    align-items: center;
}

.back{
    width: 30px;
    height: 30px;
    align-items: center;
}
=======
>>>>>>> 5b40af4c8779d438ea52a393eebb2d21f13f5ff2
