* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Logo-Arsenal-info {
    display: flex;
    width: 100%;
    height: 100%;
    /* margin-top: 10%; */
}

.Logo-Arsenal {
    background-image: url(./Pictu/Arsenal.png);
}
.ManU-info h1,
.ManU-info h2 {
    color: white;
}

.Arsenal-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* กำหนดความสูงเต็มหน้าจอ */
    margin-top: -37vh; 
  }
  
  .Logo-Arsenal-info {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .Logo-Arsenal {
    max-width: 100%; /* ทำให้โลโก้ยังคงขนาดเท่าเดิม */
    height: auto; /* ทำให้โลโก้ยังคงสัดส่วน */
  }