<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="css/Style.css">
    <title>Shirt Store</title>
</head>
<header>
    <nav class="navbar">
        <a href="#" class="logo">
            <img src="Picture/logo.jpg" alt="logo"> 
            <h3>SHIRTSTORE</h3>     
        </a>
        <div class="logo">
        </div>

        <div class="Nametext">
            <h2>SHIRTSTORE BY MART LAEMBANG .COM</h2>
        </div>    
</nav>
    <button class="btnLogin-popup">Login</button>
    <script src="script.js"></script>
</header>
<div id="black_line"></div>
<br>


<body>
    <div class="image">
        <center><img class="ManU" src="Picture/ManUnited.png" alt="..."></center>
        <center><h1>Manchester United </h1></center>
        <center><h2>4 Product</h2></center>
    </div>


        <section class="cloths">
            <a href="link_to_your_page1.html">
                <div class="jersey">
                    <img class="S1" src="picture/1999EU.png" alt="">
                    <h5>
                        Manchester United 1999<br>
                        European Cup final shirt
                    </h5>
                    <p> Starting From</p>
                    <h5>฿ 9,000</h5>
                </div>
            </a>
        
            <a href="link_to_your_page2.html">
                <div class="jersey">
                    <img class="S1" src="picture/1999RE.png" alt="">
                    <h5 class="Text">
                        Retro Manchester United <br>
                        1998/1999 Home
                    </h5>
                    <p> Starting From</p>
                    <h5>฿ 9,000</h5>
                </div>
            </a>
        
            <a href="link_to_your_page3.html">
                <div class="jersey">
                    <img class="S1" src="picture/2022.png" alt="">
                    <h5>
                        Manchester united <br>
                        2023/2024 Home jersey
                    </h5>
                    <p> Starting From</p>
                    <h5>฿ 2,900</h5>
                </div>
            </a>
        
            <a href="link_to_your_page4.html">
                <div class="jersey">
                    <img class="S1" src="picture/2023.png" alt="">
                    <h5>
                        Retro Manchester United <br>
                        22/23 Home
                    </h5>
                    <p> Starting From</p>
                    <h5>฿ 2,900</h5>
                </div>
            </a>
        </section>



</body>
<br>
<br>

<footer>
    <div class="tail_box">
    </div>
</footer>

</html>