* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ManU-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* กำหนดความสูงเต็มหน้าจอ */
  margin-top: -10vh;
}

.Logo-Man_U-info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.Logo-Man_U {
  background-image: url(./Picture/LogoManU.png);
}

h1, h2, h3 {
  margin: 10px 0; /* เพิ่มขอบให้กับหัวข้อ */
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: auto;
}

.product-item {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.product-image {
  width: 100%; /* ให้รูปภาพใช้พื้นที่เต็มของคอนเทนเนอร์ */
  height: auto; /* รักษาอัตราส่วน */
}

.product-name {
  font-size: 16px;
  font-weight: bold;
  margin: 5px 0;
}

.product-price {
  font-size: 14px;
  color: #a0a0a0;
}
