* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .footer {
     margin-left: 8%;
      background-color: #000;
      height: 30vh; /* ปรับเป็นค่าที่ responsive */
  }
  
  .text {
      color: #fff;
      font-size: 50px;
      margin-left: 22%;
  }
