* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .footer {
      background-color: #000;
      height: 100%;
  }
  
  .text {
      color: #fff;
      font-size: 50px;
      margin-left: 22%;
  }
  /* vnjdv */