* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Logo-Liver-info {
    display: flex;
    width: 100%;
    height: 100%;
    /* margin-top: 10%; */
}

.Logo-Liver {
    background-image: url(./Pict/Liverpool.png);
}
.Manci-info h1,
.Manci-info h2 {
    color: white;
}

.Liver-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* กำหนดความสูงเต็มหน้าจอ */
    margin-top: -37vh; 
  }
  
  .Logo-Liver-info {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .Logo-Liver {
    max-width: 100%; /* ทำให้โลโก้ยังคงขนาดเท่าเดิม */
    height: auto; /* ทำให้โลโก้ยังคงสัดส่วน */
  }